.nav {
  background-color: #18b86e;
}

.card {    
background-color: #18b86e;
font-family: HelveticaNeue;
}

.parallaxheader{
    font-family: HelveticaNeue;
}
.grey-text{
    font-size: 25px;
    font-family: HelveticaNeue;
}
.page-footer{
    background-color:#18b86e;
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

 /*<script>$( document ).ready(function)(){$(".dropdown-button").dropdown();})</script>*/ 