.nav {
  background-color: #18b86e;
}
body {
    padding-bottom:80px;
}

.card {    
 width:625px;
background-color: #18b86e;
font-family: HelveticaNeue;
}

.parallaxheader{
    font-family: HelveticaNeue;
}
.grey-text{
    font-size: 25px;
    font-family: HelveticaNeue;
}